@keyframes grow {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes growForBigCircle {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes anim-line {
  to {
    stroke-dashoffset: 0;
  }
}
