.language {
	// .language__current
	&__current {
	 
	 background: url("@img/icons/arrow.svg") no-repeat right center / 6px 6px;
	  
	}
	// .language__options
	&__options {
	  opacity: 0;
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid #fff;
	transition: all 0.5s ease;
	
	&.open{
	  opacity: 1;
	  flex-direction: column;
	  background-color: #fff;
	  
	}
	}
  
  }