.open {
  .header {
    & nav {
      left: 0;
      background-color: var(--bs-primary);
      display: flex;
      margin-top: 16px;
      color: #fff;
    }
  }
  .burger {
    &__inner {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
        width: 30px;
      }
    }
  }
}
