.popup {
  // .popup__content
  &__content {
    // background-color: $accentColor;
    border-radius: 40px;
  }
  // .popup__close
  &__close {
    @include pos(absolute, $top: 15px, $left: 10px);

    svg {
      @include wh(30px);
    }
  }

  .form {
    // .form__body
    &__body {
      flex-direction: column;
    }

    // .form__input
    &__input {
      &::placeholder {
        font-size: 16px;
        line-height: 20px;

        color: #fff;
      }
    }

    // .form__btn
    &__btn {
      width: 100%;
    }
  }
}
.form-label {
  transform: translateY(-50%);
  left: 20px;
  opacity: 1;
  top: 50%;
}
.form-control:focus ~ .form-label,
.form-control:valid ~ .form-label,
.form-control:hover ~ .form-label,
.form-control:active ~ .form-label {
  opacity: 0;
  top: 0;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0 10px 0 10px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
  background-color: transparent;
  background-image: url("@img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 6px 6px;
  border: none;
  border-radius: 0;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-select:focus,
.form-select:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
