.swiper-button-next,
.swiper-button-prev {
  z-index: 100;
  position: relative;

  margin: 0;
  right: inherit;
  left: inherit;
  background-color: #2b579a;
  @include wh(36px);
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #2b579a;
  }
  &::after {
    @include pseudo;

    @include wh(15px);
    @include background(url("@img/icons/arrow-swiper.svg"));
  }
}
.swiper-button-next {
  right: 0;
  @include media (min, xl) {
    right: -40px;
  }
  transform: translateX(-50%);
  &::after {
    transform: rotate(180deg);
  }
}
.swiper-button-prev {
  left: 0;
  @include media (min, xl) {
    left: -50px;
  }
 
}
.swiper__control{
  width: 40%;
  max-width: 150px;
  @include media (min, lg) {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
  }
}