.steps {
  //  Делаем все колонки одинаковой высоты, равной максимальной высоте в ряду
  &__col {
    &:last-child {
      .steps__box {
        &::after,
        &::before {
          display: none;
        }
      }
    }
  }
  // .steps__counter
  &__counter {
    color: rgba(43, 87, 154, 0.19);
  }
  // .steps__box
  &__box {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

    &::after,
    &::before {
      @include media(min, md) {
        content: "";
        display: block;
        top: 43%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
    &::after {
      @include media(min, md) {
        border-top: 1px dashed #2b579a;
        width: calc(var(--bs-gutter-x) * 1);
        height: 1px;
        right: calc(var(--bs-gutter-x) * -1.03);
      }
    }
    &::before {
      @include media(min, md) {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        right: calc(var(--bs-gutter-x) * -1.2);
        background: url("@img/icons/circle.svg") no-repeat center / cover;
      }
    }
  }
}
