.box {
  &--address::after,
  &--phone::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #e4e4e4;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
  }
  &--address::after {
    right: 20%;
  }

  &--phone::after {
    right: 35%;
  }
}
