.link {
  &--a1::before,
  &--mtc {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    position: absolute;
    right: 0;
    top: 0;
  }
  &--mtc::before {
    background: url("@img/MTC.png") no-repeat center / cover;
  }
  &--a1::before {
    background: url("@img/A1.png") no-repeat center / cover;
  }
}
