.footer {
  // .footer__box
  &__box {
    @include media(max, sm) {
      width: max-content;
      margin: 0 auto;
    }
  }

  // .footer__social
  &__social {
    li {
      position: relative;
      padding-left: 2rem;
      width: max-content;
      &::before {
        content: "";
        display: block;
        background-color: #fff;
        height: 1px;
        width: 18px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
