.header {
  z-index: 999;
  background-color: #fff;
  &__top{
    border-bottom: 1px solid #E4E4E4;
  }
  nav {
    display: flex;
    @include media(max, lg) {
      position: relative;
      display: none;
      left: -100%;
      transition: all 0.5s ease-in-out;
      border: none;
    }
   
  }
 
}
.header {
  // .header__language
  &__language {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
}


